/* * * * Psiho Design CSS framework * * * */

/* * * Reset * * */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, nav,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0px;
	padding:0px;
	border:0px;
	outline:0px;
	font-size:12px;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:14px;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content:none;
}
:focus {
	outline: 0px;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
/* * * End of Reset * * */


/* * * HTML base elements styling * * */
h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}
h1 {
    font: normal normal normal 30px/46px 'Lobster', Tahoma, sans;
    margin-bottom:30px;
    color:#fff;
}
h4 {
    font: normal normal normal 16px/18px 'PT Sans', Tahoma, sans;
    margin-bottom:4px;
    color:#f9f9f9;
}
p, blockquote, ul, ol, dl, table, pre {
    line-height:inherit;
    margin:0px 0px 14px 0px;
}
ul, ol, dl {
    padding:0;
}
ul ul, ul ol, ol ol, ol ul, dd {
    margin:0;
}
ul {
    padding:0;
    list-style-type:circle;
}
ul li ul {
    margin:0;
    list-style-type:disc;
}
ol {
    padding:0;
    list-style-type: decimal;
}
li {
    margin:0 0 0 24px;
    padding:0;
    display:list-item;
    list-style-position:outside;
}
blockquote, dd {
    padding:0 0 0 14px;
}
pre, code, samp, kbd, var {
    font:100% mono-space,monospace;
}
pre {
    overflow:auto;
}
abbr, acronym {
    text-transform:uppercase;
	border-bottom:1px dotted #000;
	letter-spacing:1px;
}
abbr[title], acronym[title] {
    cursor:help;
}
small {
    font-size:10px;
}
sup, sub {
    font-size:9px;
}
em, cite, q {
    font-style:italic;
    font-size:16px;
}
strong {;
    font-weight: bold;
    font-size:16px;
}

img {
    border:none;
}
hr {
    display:none;
}
/* form base style */
form div {
    margin:0.5em 0;
    clear:both;
}
label {
    display:block;
}
fieldset {
    margin:0;
    padding:0;
    border:none;
}
legend {
    font-weight:bold;
}
input[type="radio"],input[type="checkbox"], .radio, .checkbox {
    margin:0 0.25em 0 0;
}
/* * * End of HTML elements * * */



/* * * Floats and aligns * * */
.alignleft {
    float:left;margin-right:1em;
}
.alignright {
    float:right;margin-left:1em;
}
.aligncenter {
    text-align:center;
}
.clear {
    clear:both;
}
.hidden {
    display:none;
}
/* * * End of Floats and aligns * * */


/* * * Main elements * * */
body, table, input, textarea, select, li, button {
    font:1em Arial, Helvetica, Sans-Serif;
	line-height:1.5em;
	color:#777;
}
body {
    font-size:13px;
	background:#fff;
	margin:0;
	padding:0;
	text-align:center;
}
a, a:visited {
    text-decoration:none;
	color:#018d19;
}
a:hover {
    text-decoration:underline;
}
ins {
    text-decoration:none;
    color:#83ca70;
    font-style:italic;
}
code {
    color:#555;
}
pre {
    margin:0 2em 1.5em;
	padding-left:2em;
	border-left:1px dotted #018d19;
    background-color: #F5F5F5;
}
fieldset {
    border:1px solid #ccc;
	padding:1em 2em;
	margin:0 0 1.5em 0;
}
legend {
    padding:2px 5px;
}
form div.col {
    clear:none;
}
form div.first {
    clear:both;
}
form div {
    overflow:hidden;
}
input[type="text"], input[type="password"], textarea, .field, .area, select {
    border:1px solid #44ae57;
	padding:7px 10px 9px;
	background:#fffefa;
	width:300px;
	line-height:1em;
	margin:0;
    color:#C8C8C8;
    font: normal normal bold 14px/18px 'PTSans', Tahoma, sans;
}
select {
    width:312px;
}
textarea, .area {
    overflow:auto;
    height:150px;
    width:400px;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus, .focus {
    background:#fff;
    outline:none;
    color:#575757;
}
.email-submit {
    border:1px solid #44ae57;
    color:#018d19;
    font: normal normal bold 14px/18px 'PTSans', Tahoma, sans;
    padding:7px 12px 9px;
    margin-left:7px;
    cursor:pointer;
    /* SVG fallback(Opera 11.10-, IE9) */
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIyMCwyNTUsMjI0LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMTAzLDIxOCwxMjMsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, rgba(220,255,224,1), rgba(103,218,123,1));
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, rgba(220,255,224,1), rgba(103,218,123,1));
    /* Chrome 7+ & Safari 5.03+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(220,255,224,1)), color-stop(1, rgba(103,218,123,1)));
    /* IE5.5 - IE7 */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFDCFFE0,EndColorStr=#FF67DA7B);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFDCFFE0,EndColorStr=#FF67DA7B)"
}
.email-submit {
    -webkit-box-shadow: #fff 0px 0px 7px;
	-moz-box-shadow: #fff 0px 0px 7px;
	box-shadow: #fff 0px 0px 7px;
}
.email-submit {
    text-shadow: #fff 1px 1px 1px;
}
button {
    border:none;
	background:#83ca70;
	color:#fff;
	padding:0px 28px 4px;
	height:28px;
	line-height:14px;
	cursor:pointer;
}
.notvalid {
    border:1px solid #900 !important;
}
/* * * End of Main elements * * */



/* * * Layout * * */
#wrapper {
    width:100%;
	position:relative;
    background: transparent url(images/simple/bg-green.png) repeat;
    border-bottom:1px solid #fff;
}
.inner {
    position:relative;
    width:740px;
    margin:0 auto;
}
.glow-top {
    background:transparent url(images/simple/glow-top.png) no-repeat 5% top;
}
.glow-bottom {
    background:transparent url(images/simple/glow-bottom.png) no-repeat 5% bottom;
}

/* header */
header {
    position:relative;
    display:block;
    padding: 15px 0 25px;
}
.socials {
    position:relative;
    margin-right:10px;
}
.socials a {
    position:relative;
    float:right;
    margin:0 3px;
    height: 32px;
    width: 32px;
    color:#fff;
    text-decoration:none;
    display: inline;
    background:url(images/simple/social-icons.png) no-repeat;
}
.socials a:hover {
    text-decoration:none;
}
a.rss-link { background-position: 0 0; }
a.fb-link { background-position: 0 -32px; }
a.twi-link { background-position: 0 -64px; }
a.vk-link { background-position: 0 -96px; }
a.picasa-link { background-position: 0 -128px; }
a.orkut-link { background-position: 0 -160px; }
a.li-link { background-position: 0 -192px; }
a.blogger-link { background-position: 0 -224px; }
a.flickr-link { background-position: 0 -256px; }

.tipbox {
    position:absolute;
    width:72px;
    margin:35px 0 0 -20px;
    display:none;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.tipbox {
    background-color:#000;
    background: rgba(0, 0, 0, .5);
}


/* content */
.content {
	display:block;
	padding:20px;
    width:660px;
    margin:0 auto 50px;
    background-color:#90d09b;
    border:10px solid #fff;
    -webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
.content {
    -webkit-box-shadow: #c2c2c2 2px 3px 3px;
	-moz-box-shadow: #c2c2c2 2px 3px 3px;
	box-shadow: #c2c2c2 2px 3px 3px;
}
.mail-chimp {
    margin:25px auto;
}
#response {
    position:relative;
    display:block;
    margin-bottom:7px;
    color:#3366CC;
}

.email-note {
    position:relative;
    display:block;
    width:450px;
    margin:5px auto;
    padding:0;
    line-height:11px;
    text-align:left;
    color:#f9f9f9;
}

a.login {
    font: normal normal normal 12px/14px Arial, Helvetica, sans-serif;
    float:right;
    margin:0 15px 7px;
}
a.login span {
    font: normal normal normal 15px/14px Arial, Helvetica, sans-serif;
}

/* footer */
footer {
    clear:both;
    position:relative;
    display:block;
    width:100%;
    margin:0 auto;
    background:#fff url(images/simple/shadow.png) no-repeat top center;
}
footer img {
    margin: 30px 0 0;
}
footer p{
    margin:7px 25px;
}

footer p, footer a {
    font: normal normal normal 12px/14px 'PT Sans', Tahoma, sans;
}

/* * * End of Layout * * */

/* * Grid * */
.first {
    margin-left:0 !important;
}
.last {
    margin-right:0 !important;
}
.top {
    margin-top:0 !important;
}
.bottom {
    margin-bottom:0 !important;
}

.halfcol{  /* 2 equal width columns */
    float:left;
	display:inline;
	width:48% !important;
    width:46%; /* for IE6 */
    margin-left:4%;
}
.onethird { /* one third width column */
    float:left;
	display:inline;
    width:30% !important;
    width:27%; /* for IE6 */
    margin-left:5%;
}
.twothird { /* two third width column */
    float:left;
	display:inline;
    width:62% !important;
    width:60%; /* for IE6 */
    margin-left:5%;
}
.quarter { /* quarter width column */
    float:left;
	display:inline;
    width:22% !important;
    width:20%; /* for IE6 */
    margin-left:4%;
}
/* * End of grid * */
/* * * End of Layout * * */

/* * * Clearfix * * */
.inner:after, .content:after, .cols:after, .fixed:after {
    content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.inner, .content, .cols, .fixed {
    display:block;
    min-height:1%;
}
* html .inner, * html .content, * html .cols, * html .fixed {
    height:1%;
}
/* * * End of Clearfix * * */