.unimm_wrap {
    position:relative;
	width:740px;
    float:left;
}
.unimm-logo {
    position:relative;
    width: 738px;
    height: 57px;
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    background: #fff url(images/functions/plugin-logo.jpg) no-repeat;
    -webkit-box-shadow: #aaa 0px -2px 5px;
	-moz-box-shadow: #aaa 0px -2px 5px;
	box-shadow: #aaa 0px -2px 5px;
}
.unimm_section{
	border:1px solid #ddd;
	border-bottom:0;
	background:#fff;
}
.unimm_opts h3 {
    margin:0;
    padding:10px 5px;
    color:#8B4513;
    background-color:#F0F0F0;
    border-left:1px solid #ddd;
	border-right:1px solid #fff;
}
.unimm_opts label{
    margin-right: 20px;
	font-size:12px;
	font-weight:700;
	width:240px;
	display:block;
	float:left;
    color: #696969;
}
.unimm_input {
	padding:15px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}
.unimm_opts small{
    margin-top: 20px;
	display:block;
	color:#999;
    font-size:11px;
}
.unimm_opts input[type="text"], .unimm_opts select{
	width:450px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}
.unimm_input input:focus, .unimm_input textarea:focus{
    background:#fff;
}
.unimm_input textarea{
	width:450px;
	height:125px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1.5em;
	background:#f3f3f3;
}
.unimm-plugin-button {
    margin:10px 0;
    outline:none;
    cursor:pointer;
    font-weight:bold;
    padding:3px 10px;
    -webkit-box-shadow: #9ACD32 0px 0px 7px;
	-moz-box-shadow: #9ACD32 0px 0px 7px;
	box-shadow: #9ACD32 0px 0px 7px;
}
.unimm-plugin-button {
    text-shadow: #fff 1px 1px 1px;
}

.clearfix{
	clear:both;
}